* {
    box-sizing: border-box;
    margin: 0px;
}
.header {
    margin-top: 24px;
    font-size: 64px;
    font-family: cursive;
    text-align: center;
    color: #1f2937;
}
.content {
    text-align: center;
}

.container {
    margin: auto; 
    display: grid;
    height: 575px;
    width: 575px;
    background-color: rgb(240, 238, 238);
    border: 2px solid #1f2937;
    border-radius: 6px;
}

.squares {
    height: 100%;
    width: 100%;
}

.unfill {
    background-color: rgb(240, 238, 238);
}
.fill {
    background-color: black;
}

.slider {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    gap: 10px;
    opacity: 0.5;
    font-family: cursive;
}
.slider:hover {
    opacity: 1;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

button {
font-family: cursive;
margin-bottom: 15px;
color: white;
border-radius: 5px;
padding: 2px 24px;
}

.btn-create {
background-color: #a6d4fa;
border: 1px solid #a6d4fa;
}
.btn-create:hover {
background-color: blue;
}

.btn-clear {
background-color: #f58985;
border: 1px solid #f58985;
}
.btn-clear:hover {
background-color: red;
}

.btn-undo {
background-color: #80d387;
border: 1px solid #80d387
}
.btn-undo:hover {
background-color: green;
}

.switch {
  font-family: cursive;
  opacity: 0.7;
}
.switch:hover {
    opacity: 1;
}