* {
    box-sizing: border-box;
    margin: 0px;
}
.header {
    margin-top: 24px;
    font-size: 64px;
    font-family: cursive;
    text-align: center;
    color: #1f2937;
}
.content {
    padding: 16px;
    text-align: center;
}

.container {
    margin: auto; 
    display: grid;
    /* grid-template-columns: auto-fill;
    grid-template-rows: auto-fill; */
    /* grid-template-columns: repeat(16, 6.25%); */
    height: 600px;
    width: 600px;
    background-color: rgb(240, 238, 238);
    border: 2px solid #1f2937;
    border-radius: 6px;
}

.squares {
    height: 100%;
    width: 100%;
    border: 0.5px solid #d2d6db;
}

.unfill {
    background-color: rgb(240, 238, 238);
}
.fill {
    background-color: black;
}

.slider {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    gap: 10px;
    opacity: 0.5;
    font-family: cursive;
}

.slider:hover {
    opacity: 1;

}

button {
font-family: cursive;
margin-bottom: 15px;
color: white;
border-radius: 5px;
padding: 2px 24px;
}


.btn-create {
background-color: #a6d4fa;
border: 1px solid #a6d4fa;

}
.btn-create:hover {
background-color: blue;
}

.btn-clear {
background-color: #f58985;
border: 1px solid #f58985;
}
.btn-clear:hover {
background-color: red;
}

.btn-undo {
background-color: #80d387;
border: 1px solid #80d387
}
.btn-undo:hover {
background-color: green;
}